<!DOCTYPE html>
<html lang="en">
<head>
  <title>What Is For Dinner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
  <link href="static/css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<body>
  <!-- Jumbotron -->

  <div class="jumbotron text-center" style="background-image: url('/static/sara-dubler-710148-unsplash.jpg'); background-size: 100%; height: 25%;">
  <!--div class="jumbotron text-center" style="background-image: url('/static/picnic-table-background.jpg'); background-size: 100%; height: 25%;"-->

    <!--<div class="jumbotron text-center" style="background-image: img src='/static/sara-dubler-710148-unsplash.jpg'; background-size: 100%; height: 100%;">-->
    
        <h2 class="my-0 font-weight-normal">
        <font color = "white">What's for dinner?</font></br>
    
        </h2>
    </div>
<div class="container-fluid">
     <div class="row">
         <nav class="navbar navbar-inverse" style="background-color:black;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span> 
                </button>
                <!--span class="navbar-brand">Restaurants For Foodies with Dietary Restrictions</span-->
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                        <li><a href="/">Main Page</a></li> 
                </ul>
            </div>
        </nav>     
    </div>     
    
    <div class="row">
        <div class="col-sm-12">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="background-color:white;">
            <box>
                <article style="background-color:white;">
                    <h4 class="card-header">Updated Successfully</h4>
                    <!--div>
                        <p> This project is to develop an APP to make it easy for people looking for restaurants that can cater to their dietary restrictions (i.e. allergy, religious reasons, etc.) so they can enjoy eating out with friends and families just like everyone else!! 
                        </p>
                        <p> There are a lot of people with dietary restrictions due to allergies or religious reasons. It is extremely difficult to search online to restaurants that truly meet the specific dietary restrictions. The existing restaurant websites usually return inaccurate results where most the restaurants returned in the results do not meet the actual search criteria /dietary restrictions. The most reliable way to confirm if a given restaurant truly meets your dietary restriction is by reading the review which can take a lot of time to the point you would give up and decide just to stay home instead of go out to hang out like those with no dietary restrictions. 
                        </p>            
                    </div-->
                </article>
            </box>
        </div>   
    </div>
    <div class="row">
       
        <!-- Footer -->
        <footer class="page-footer font-small blue" style="background-color:lightcyan;">

        <!-- Copyright -->
             <div
                small class="text-muted footer-copyright text-center py-3">© 2019 Copyright:
                <a>Winnie Wu</a> 
            </div>
        <!-- Copyright -->
        </footer>
   
    </div>
</div> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>
</html>